/* Global Styles */

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

:root {
    --radius: 10px;
    --shadow: 1px 1px 1px grey;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.hidden {
    display: none !important;
}

.visible {
    display: content !important;
}

input, button, select {
    border-radius: 5px; 
    border: 1px solid lightgrey;
    padding: 3px 5px;
}

input[type="submit"]:hover, 
input[type="reset"]:hover,
button:hover {
    cursor: pointer;
}

/* Login Page Styles */

#auth-form, #signup-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    margin: 20px auto;
}

#auth-form input, #signup-form input {
    margin: 5px auto;
    padding: 5px;
}

#login-error {
    color: red;
}

/* Goals, Notes, Schedule, Checks Styles  */

.card {
    padding: 15px 0; 
    border: 1px solid lightgrey; 
    border-radius: var(--radius); 
    margin: 0 5px 10px 5px; 
    overflow: overlay; 
    background-color: rgba(230, 230, 230, 0.694); 
    box-shadow: 1px 1px 5px lightgrey;
}

#card-header {
    display: flex;
    justify-content: space-between;
    margin: 0 25px;
    font-size: 12px;
}

.card h2 {
    margin-bottom: 10px;
}

#card-header img:hover {
    cursor: pointer;
}

#line {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 5px 20px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    align-items: center;
    padding: 7px;
}

#line input:checked + label {
    text-decoration: line-through;
}

#line:hover {
    background-color: rgb(242, 242, 242)
}

#edit-buttons img {
    margin-left: 5px;
}

#edit-buttons {
    display: flex;
    margin: 10px 15px;
}

#edit-buttons img:hover {
    cursor: pointer;
}

#add-note {
    text-align: center;
    margin: 10px 35px;
    display: flex;
    justify-content: space-evenly;
}

/* Calendar Styles */

.react-calendar {
    margin: 0 20px 10px 20px;
}

.react-calendar button:hover {
    background-color: white;
}

/* Modal Form Styles */

#modal-background {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.5s;
    overflow: auto;
    transition: all 0.3s linear;
}

#modal {
    height: fit-content;
    width: 600px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: var(--radius);
    margin: auto;
    overflow: overlay;
}

#modal-content {
    margin: 10px;
}

#modal-content img:hover {
    cursor: pointer;
}

#form-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#form-submit-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

/* Mobile Styles */

@media only screen and (max-width: 1000px) {
    body {
        margin: 0 30px;
    }
    main {
        display: block;
    }
    #left, #middle, #right {
        width: 100%;
    }
    #goal-form-div,
    #event-form-div,
    #notes-form-div,
    #daily-checks-form-div {
        width: 90%;
    }
    #setup-forms input[type="text"],
    #setup-forms input[type="date"],
    #setup-forms input[type="time"] {
        width: 100px;
    }
    #setup-forms select {
        width: 112px;
    }
}

@media only screen and (max-width: 1300px) {
    #weather-2 {
        flex-direction: column;
    }
}

@media only screen and (max-width: 700px) {
    header {
        display: block;
        display: flex;
        flex-direction: column;
    }
}